<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Error</title>
</head>
<body>
<center>
  <p th:inline="text" sec:authentication="name"></p>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
  <br/>

  <div th:switch="${errorType}">
    <p th:case="invalidActivationLink" th:text="#{error.invalidActivationLink}"></p>
    <p th:case="processingException" th:text="#{error.processingException}"></p>
    <p th:case="alreadyInFamily" th:text="#{error.alreadyInFamily}"></p>
    <p th:case="invalidInvitationLink" th:text="#{error.invalidInvitationLink}"></p>
    <p th:case="notEnoughSpaceInFamily" th:text="#{error.notEnoughSpaceInFamily}"></p>
    <p th:case="*" th:text="#{error.undefined}"></p>
  </div>
</center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>
